<div class="external-links">
    <a
        href="mailto:ab@nouritsu.com"
        class="link-contact"
        onmouseover="this.querySelector('span').innerHTML = 'email'"
        onmouseout="this.querySelector('span').innerHTML = 'contact'"
        >[<span>contact</span>]</a
    >
    <a
        href="https://www.youtube.com/watch?v=xvFZjo5PgG0"
        class="link-cv"
        onmouseover="this.querySelector('span').innerHTML = 'get'"
        onmouseout="this.querySelector('span').innerHTML = 'cv'"
        >[<span>cv</span>]</a
    >
</div>
