<div class="internal-links">
	{% assign current_page_url = page.url | default: '/' %}
	<a
		class="link-about hoverable-link"
		href="/about"
	>
		{% if current_page_url == '/about' or current_page_url == '/about/' %}
		<span class="bracket-open">(</span><span class="link-text">about</span
		><span class="bracket-close">)</span>
		{% else %}
		<span class="bracket-open">[</span><span class="link-text">about</span
		><span class="bracket-close">]</span>
		{% endif %}
	</a>
	<a
		class="link-blog hoverable-link"
		href="/blog"
	>
		{% if current_page_url == '/blog' or current_page_url == '/blog/' %}
		<span class="bracket-open">(</span><span class="link-text">blog</span
		><span class="bracket-close">)</span>
		{% else %}
		<span class="bracket-open">[</span><span class="link-text">blog</span
		><span class="bracket-close">]</span>
		{% endif %}
	</a>
	<a
		class="link-projects hoverable-link"
		href="/projects"
	>
		{% if current_page_url == '/projects' or current_page_url == '/projects/' %}
		<span class="bracket-open">(</span><span class="link-text">projects</span
		><span class="bracket-close">)</span>
		{% else %}
		<span class="bracket-open">[</span><span class="link-text">projects</span
		><span class="bracket-close">]</span>
		{% endif %}
	</a>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const links = document.querySelectorAll(".internal-links a");

		links.forEach((link) => {
			const open = link.querySelector(".bracket-open");
			const close = link.querySelector(".bracket-close");

			if (open && close) {
				const open_original = open.textContent;
				const close_original = close.textContent;

				link.addEventListener("mouseover", () => {
					open.textContent = "(";
					close.textContent = ")";
				});

				link.addEventListener("mouseout", () => {
					open.textContent = open_original;
					close.textContent = close_original;
				});
			}
		});
	});
</script>
