<div class="links">
	{% include link.html text = "about" href = "/about" type = "internal" %} {%
	include link.html text = "blog" href = "/blog" type = "internal" %} {% include
	link.html text = "projects" href = "/projects" type = "internal" %} {% include
	link.html text="contact" hover_text="email" href =
	"mailto:YWJoYXZl:bm91cml0c3U=:Y29t" type="external"%} {% include link.html
	text = "cv" hover_text="get" type = "external" %} {% include link.html text =
	"github" href = "http://github.com/nouritsu" type = "external" %}
</div>
