.about-pune {
	color: var(--peach);
}

.about-india {
	background-color: transparent;
	background-image: linear-gradient(
		to right,
		var(--peach),
		var(--text),
		var(--blue),
		var(--text),
		var(--green)
	);
	background-size: 100%;
	width: fit-content;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.about-csharp {
	color: var(--mauve);
}

.about-rust {
	color: var(--peach);
}

.about-constructor {
	color: var(--blue);
}

.about-bremen {
	background-color: transparent;
	background-image: linear-gradient(
		to right,
		var(--red),
		var(--text),
		var(--red),
		var(--text)
	);
	background-size: 100%;
	width: fit-content;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.about-germany {
	background-color: transparent;
	background-image: linear-gradient(
		to right,
		var(--surface2),
		var(--red),
		var(--yellow)
	);
	background-size: 100%;
	width: fit-content;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
