.about-pune {
    color: var(--ctp-peach);
}

.about-india {
    background-color: transparent;
    background-image: linear-gradient(to right,
    var(--ctp-peach), var(--ctp-text), var(--ctp-blue), var(--ctp-text), var(--ctp-green));
    background-size: 100%;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}

.about-csharp {
    color: var(--ctp-muave);
}

.about-rust {
    color: var(--ctp-peach);
}

.about-constructor {
    color: var(--ctp-blue);
}

.about-bremen {
    background-color: transparent;
    background-image: linear-gradient(to right, var(--ctp-red), var(--ctp-text), var(--ctp-red), var(--ctp-text));
    background-size: 100%;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}

.about-germany {
    background-color: transparent;
    background-image: linear-gradient(to right, var(--ctp-surface2), var(--ctp-red), var(--ctp-yellow));
    background-size: 100%;
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
}
