.hero-404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	padding: 1rem; // Add padding for mobile
}

.notfound-404 {
	font-size: 2.6;
	margin: 0;
	color: var(--subtle-text-color);
	text-align: center;
}

.gohome-404 {
	font-size: 1.5;
	margin: 0;
	color: var(--subtle-text-color);
	text-align: center;

	a {
		color: var(--ctp-sapphire);
		text-decoration: none;

		&.hoverable-link {
			display: inline-block;
			transition: all 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);

				.link-text {
					text-decoration: underline;
				}
			}
		}

		.bracket-open,
		.bracket-close {
			text-decoration: none;
		}
	}
}
