.external-links {
	display: inline-flex;
	gap: 1rem;

	a {
		@include nav-link-styles;

		&.link-cv {
			color: var(--ctp-mauve);
			position: relative;
			min-width: max-content; // Ensure consistent width
		}

		&.link-contact {
			color: var(--ctp-pink);
			position: relative;
			min-width: max-content; // Ensure consistent width
		}

		// Ensure brackets/parentheses don't get highlighted
		&:hover {
			span {
				text-decoration: underline;
				transform: scale(1.1);
			}
		}
	}
}
