.link-about {
	color: var(--red);
}

.link-blog {
	color: var(--yellow);
}

.link-projects {
	color: var(--green);
}

.link-contact {
	color: var(--pink);
}

.link-cv {
	color: var(--mauve);
}

.link-github {
	color: var(--subtext0);
}
