.ascii-logo {
	line-height: 1.1;
	margin: 0; // Reset all margins
	text-align: center;
	white-space: pre; // Preserve whitespace and prevent wrapping
	overflow-x: auto; // Allow horizontal scrolling if needed
	background-color: transparent; // Override the default pre background

	// Gradient for text
	background-image: linear-gradient(
		to right,
		var(--ctp-red),
		var(--ctp-yellow),
		var(--ctp-green),
		var(--ctp-mauve),
		var(--ctp-pink)
	);

	background-size: 100%;
	width: fit-content;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;

	// Center
	margin-left: auto;
	margin-right: auto;
}
