.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1000;
	font-family: var(--font-mono, monospace);
	background-color: var(--bg-color);
}

.navbar-logo {
	margin-right: 1.2rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--text-color);
	&:hover {
		color: var(--mauve);
		text-decoration: none;
	}
}

// Adjust padding based on if the navbar is present
body {
	padding-top: 100px;

	&.no-navbar {
		padding-top: 0;
	}
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
	.navbar {
		padding: 1rem 1rem;
		flex-direction: column;
		gap: 0.75rem;
	}

	body {
		padding-top: 200px;

		&.no-navbar {
			padding-top: 0;
		}
	}
}
