$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);

@media (max-width: 768px) {
	.ascii-logo {
		font-size: 0.8rem;
	}

	.landing-subtext {
		font-size: 1.5rem;
	}

	.landing-links a {
		font-size: 1.2rem;
	}
}
