.internal-links {
	gap: 1rem;
	display: inline-flex;

	.hoverable-link {
		transition: all 0.2s ease-in-out;
		&:hover {
			transform: scale(1.1);

			.link-text {
				text-decoration: underline;
			}
		}
	}

	.bracket-open .bracket-close {
		text-decoration: none;
	}

	a {
		&.link-about {
			color: var(--red);
		}

		&.link-blog {
			color: var(--yellow);
		}

		&.link-projects {
			color: var(--green);
		}
	}
}
